body {
  background-color: #eee;
  color: #000;
  font-family: Verdana;
  font-size: 12px;
}

h1 {
  font-size: 1.7em;
  font-weight: bold;
  padding-bottom: 15px;
}

h3 {
  font-size: 1.0em;
  font-weight: bold;
  padding-bottom: 0px;
}

p {
  padding-bottom: 5px;
}

strong {
  font-weight: bold;
}

a {
  color: #278CCD;
  color: #DA7171
}

a:hover {
  color: #58bdfe;
}

a:active {
  color: #DA7171;
}

.header {
  height: 100px;
  background-color: #fff;
}

.logo {
  float: left;
  padding: 10px 10px;
}

ul.mainmenu {
  float: left;
  font-size: 14px;
  padding: 30px 20px 30px 20px;
}

ul.mainmenu li {
  float: left;
  padding: 0px 15px;
}

ul.mainmenu li a {
  padding: 10px 25px;
  color: #636363;
  border: 1px solid #eee;
}

ul.mainmenu li.active a {
  background-color: #eee;
  /*color: #070980;*/
  color: #D62E2E;
}

ul.mainmenu li a:hover {
  background-color: #eee;
  color: #070980;
}

.login {
  float: left;
  padding-top: 20px;
  margin-left: 30px;
}

.container_main {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 20px;
  min-height: 400px;
}

.menu {
  width: 210px;
  float: left;
  margin: 0px 20px;
}

.menu ul {
  line-height:1.5em;
}

.menu ul li ul {
  font-size: 0.9em;
  padding-bottom: 20px;
  padding-left: 10px;
}

.menu ul li ul li a {
  color: #555;
}

.menu ul li ul li a:hover {
  background-color: #ccc;
}

.menu ul li ul li.active a {
  /*color: #0000FF;*/
  color: #D62E2E;
}

.menu h2 {
  color: #666;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 0px;
}

.content {
  float: left;
  max-width: 80%;
}

#tabs {
  width: 980px;
/*  width: 850px;*/
}

#tabs div.spin1,#tabs div.spin2,#tabs div.spin3 {
  /*width: 115px;*/
  float:left;
  margin-right: 15px;
}

.content table {
  margin-bottom: 8px;
}

.content table th {
  background-color: #ebebeb;
  border: 1px solid #dcdcdc;
  text-align: center;
  padding: 0px 5px 3px 5px;
  vertical-align:middle;
  font-weight: bold;
}

.content table th a {
  color: #5C6063;
}

.content table td {
  border: 1px solid #dcdcdc;
  padding: 0px 5px 2px 5px;
  vertical-align: middle;
}

.content table tr.even {
}

.content table tr.odd td {
  background-color: #f0f0f0;
}

.content table tr.selected{
  background-color: #003533;
  background-color: #DCDCDC;    
}

.footer {
  font-size: 0.9em;
  margin: 10px 0px 20px 20px;
}

.filter {
  padding-bottom: 10px;
}

.show ul li {
  padding-bottom: 10px;
}

.show .label {
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

.show .label:after {
  content: ":";
}

#map_container {
  width: 400px;
  margin-top: 10px;
  padding: 5px 5px;
  border: solid 1px #eee;
}

#map {
  width: 400px; width: 500px;
  height: 300px; height: 400px;
}

#map table {
    border-collapse: separate;
}

#map table td {
    border: medium none;
    padding: 0;
}

.table {
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table .row {
  display: table-row;
  padding: 0px 5px 2px 5px;
}

.table .row .col {
  border: 1px solid #dcdcdc;
  display: table-cell;
  padding: 3px 5px 3px 5px;
  vertical-align: top;
}

.table .head {
  display: table-caption;
  background-color: #ebebeb;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

/* --------------------------- */
h1 { margin-top: 20px; }
h1.header {
    border-bottom: 1px solid red;
    margin-bottom: 15px;
    padding-bottom: 5px;
    height: auto;
}
.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 5px 0 20px;
    padding-bottom: 9px;
}
input{
    min-height: 2.2em;
    border: 1px solid #CCCCCC;
}
.section{
    /*padding: 2em;*/
    padding-bottom: 3em;
    padding-top: 3em;
    min-height: 200px;
    background: #fff;
    position: relative;
}
.hidden-map{
    display: none;
    height: 500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1000px;
}
.gray-block{
    background: #eee;
    min-height: 200px;
}
.gray-block #map{
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.red-block{
    /*margin: 1em;*/
    padding: 1em;
    min-height: 100px;
    color: #fff;
    background: #D62E2E;
}
.red-block #map {
  width: 500px;
  height: 250px;
}
.red-text-block{
    padding: 1em;
    color: #fff;
    background: #D62E2E;
}
.bordered-text-block {
  border: 1px solid #CCCCCC;
  color: #777777;
  padding: 1em 3em;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
}

.section.info-blocks .row {
  margin-bottom:2em;
}

.bordered-text-block h1{
  line-height:1.5em;
}
.bordered-text-block h1 a {
  display: inline-block;
  padding: 0.2em 0.3em;
  border: 1px solid #D62E2E;
  color: #FFFFFF;
  background: #D62E2E;
}
.bordered-text-block h1 a:hover, .bordered-text-block h1 a:focus {
  text-decoration: none;
}
.bordered-text-block .total{
  padding: 0.2em 0.5em;
  float: right;
  color: #D62E2E;
  font-weight: bold;
  border:1px solid;
}

.img-holder {
  margin-bottom:2em;
  /*width: 280px;*/
  height: 200px;
  border: 1px solid #CCCCCC;
  padding: 1em;
}

